<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>SIMPLE File Upload demo</title>
    {{fontawesome_html()}}
    <link rel="stylesheet" href="../static/css/main.css" />
  </head>
  <body>
    <h1 class="title">Simple Flask file Upload</h1>
    <nav>
        <a href="">Add A File</a>
        <a href="">View Your Files</a>
    </nav>
    <br><br>
    {% block content %}
        
    {% endblock content %}
    <script src="../static/js/index.js"></script>
</body>
</html>